<h1><%= @lesson.skill_name %></h1>
<h3><%= @lesson.description %></h3>
<h4><%= @lesson.price %></h4>

<%= simple_form_for([@lesson, @booking]) do |f| %>
  <%= f.input :user %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.submit "Book" %>
<% end %>
