 <div class="container">
  <div class="card p-3 m-1">
    <h1>You booked <%= @lesson.skill_name %></h1>
    <% if @lesson.user.status == "Jedi" %>
      <h3>Taught by: <%= @lesson.user.name %>, of the <%= @lesson.user.side %> side</h3>
    <% end %>

    <h4>Start date: <%= @lesson.start_at %></h4>
    <h4>End date: <%= @lesson.end_at %></h4>
    <p class="">May the force be with you.</p>

  </div>
  <%= link_to "Book another lesson", lessons_path, class: "btn btn-warning"  %>
  <%= link_to "See all your classes!", pages_user_profile_path, class: "btn btn-success"  %>
 </div>

