
<div class="container w-auto">
  <div class="card my-3 h-25">
    <% if  @lesson.skill_picture.attached? %>
      <%= cl_image_tag @lesson.skill_picture.key, class: "card-img" %>
    <% else %>
      <%= image_tag "banner.jpg", class: "w-100 card-img" %>
    <% end %>
    <div class="card-body">
      <h1 class="card-title">You booked <%= @lesson.skill_name %>
      <% if @lesson.user.status == "Jedi" %>
        <h3>Taught by: <%= @lesson.user.name %>, of the <%= @lesson.user.side %> side</h3>
      <% end %></h1>
      <h4 class="card-text px-2 ">Start <i class="fa fa-calendar"></i> <%= @lesson.start_at %></h4>
      <h4 class="card-text px-2 mt-2">End <i class="fa fa-calendar"></i> <%= @lesson.end_at %></h4>
      <p class="card-text p-2">May the force be with you.</p>
      <div class="container">
        <%= link_to "Book another lesson", lessons_path, class: "btn btn-primary"  %>
        <%= link_to "See all your classes", pages_user_profile_path, class: "btn btn-success"  %>
      </div>
    </div>
  </div>
</div>
