
<div class="banner mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path("banner.jpg") %>);">
  <div class="container">
    <% if current_user.status == "Padawan" %>
      <h1>Your Next Step to become a
      <%= current_user.side == "Light"? "Jedi" : "Sith" %>
      </h1>
      <p>Welcome <%= current_user.name %></p>
    <% else %>
      <h1>There is no ignorance, there is knowledge. Train your
      <%= current_user.side == "Light"? "Jedi" : "Sith" %> Padawan.
      </h1>
      <p>Welcome <%= current_user.name %></p>
    <% end %>

  </div>
</div>
<div class="container-fluid">
  <div class="d-flex">
  <% if current_user.status == "Padawan" %>
    <h2 class="mt-4">Our next classes</h2>
    <%= link_to "See all lessons", lessons_path, class:"btn btn-primary m-4" %>
  <% else %>
    <%= link_to "All your lessons", lessons_path(current_user), class:"btn btn-primary m-4"  %>
  <% end %>
  </div>
  <div class="row justify-content-between">
    <% @lessons.each do |lesson| %>
      <div class="card col-4 m-4" style="width: 18rem;">
        <% if lesson.skill_picture.attached? %>
          <%= cl_image_tag lesson.skill_picture.key, height: 100, width: 150, crop: :fill %>
        <% else %>
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= lesson.skill_name %></h5>
          <p class="card-text"><%= lesson.description.truncate(200) %></p>
          <p class="card-text">From <%= lesson.start_at %> (<%= lesson.start_at.strftime("%A") %>) to <%= lesson.end_at %> (<%= lesson.end_at.strftime("%A") %>) </p>
          <%= link_to "See more", lesson_path(lesson), class:"btn btn-success"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
