<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
<div>
  <h1>Your Next Step to become a
  <%= current_user.side == "Light"? "Jedi" : "Sith" %>
  </h1>
  <p>Welcome <%= current_user.name %></p>

  <div class="row">
  <h2>Our next classes</h2>
  <% @lessons.each do |lesson| %>
    <div class="card-trip col-4">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= lesson.skill_name %> (<%= (lesson.end_at - lesson.start_at).to_i %> days)</h2>
            <p><%= lesson.quick_description %></p>
            <p>From <%= lesson.start_at %> :<%= lesson.start_at.strftime("%A") %></p>
            <p>To <%= lesson.end_at %> (<%= lesson.end_at.strftime("%A") %>)</p>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <div>
            <h2 class="card-trip-pricing"><%= lesson.price %></h2>
            <img src="https://www.clipartmax.com/png/middle/362-3628570_making-credits-in-lotj-star-wars-galactic-credit-symbol.png" class="imperial-credits"/>
          </div>
        </div>
      <% end  %>
    </div>
  </div>

  </div>
  <%= link_to "See all lessons", lessons_path, class:"btn btn-light" %> %>
</div>
</div>
