
<div class="banner mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path("banner.jpg") %>);">
  <div class="container">
    <% if current_user.status == "Padawan" %>
      <h1 id="status">Your Next Step to become a
      <%= current_user.side == "Light"? "Jedi" : "Sith" %>
      </h1>
      <p>Welcome <%= current_user.name %></p>
    <% else %>
      <h1>There is no ignorance, there is knowledge. Train your
      <%= current_user.side == "Light"? "Jedi" : "Sith" %> Padawan.
      </h1>
      <p>Welcome <%= current_user.name %></p>
    <% end %>

  </div>
</div>

<div class="container-fluid" style="background-color: #999999">
  <div class="d-flex">
  <% if current_user.status == "Padawan" %>
    <h2 class="mt-4">Our next classes</h2>
    <%= link_to "See all lessons", lessons_path, class:"btn btn-primary m-4" %>
  <% else %>
    <%= link_to "All your lessons", lessons_path(current_user), class:"btn btn-primary m-4"  %>
  <% end %>
  </div>


  <div class="row justify-content-around lessons">
    <% @lessons.each do |lesson| %>
      <div class="lesson-card m-4">
          <% if lesson.skill_picture.attached? %>
            <%= cl_image_tag lesson.skill_picture.key, class: "card-img" %>
          <% else %>
            <%= image_tag "banner.jpg", class: "w-100 card-img" %>
          <% end %>

        <div class="p-3">
          <h5><%= lesson.skill_name %></h5>
          <p><%= lesson.description.truncate(200) %></p>
          <p>From <%= lesson.start_at %> (<%= lesson.start_at.strftime("%A") %>) to <%= lesson.end_at %> (<%= lesson.end_at.strftime("%A") %>) </p>
          <%= link_to "See more", lesson_path(lesson), class:"btn btn-success"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="/javascripts/lib/home_cards_colors.js" charset="utf-8"></script>
