<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Profile
    </div>
    <div class="card-body d-flex flex-column">
      <div>
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h1><%= current_user.name %></h1>
      </div>
      <h5 class="card-title">About me</h5>
      <p class="card-text">Write something about you</p>
      <p class="card-text">Your are learning to become a : <%= current_user.side == "Light"? "Jedi" : "Sith" %><%= current_user.side %></p>
      <%= link_to "Edit", edit_user_registration_path, class:'btn btn-light w-3' %>
    </div>
  </div>

  <div>
    <h1>Your Bookings</h1>
    <% current_user.bookings.each do |booking| %>
      <div class="card mb-6" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag booking.lesson.skill_picture, alt: "skill picture", class: "img-fluid rounded-start" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= booking.lesson.skill_name %></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
    <% end %>
    </div>


  </div>
  </div>
</div>
