<div class ="container">
  <% if current_user.status == "Padawan" %>
    <div class="text-light">
      <h1>Through knowledge you gain power.</h1>
      <% if params[:query].present? %>
      <h2>Lessons matching your research: <%= @lessons.count %></h2>
      <% else %>
      <h2>All our <%= Lesson.count %> lessons</h2>
      <% end %>
    </div>

    <div class="row justify-content-around">

    <% @lessons.each do |lesson| %>
      <div class="lesson-card m-4">
      <div class="mt-1">

        <% if lesson.skill_picture.attached? %>
          <%= cl_image_tag lesson.skill_picture.key, height: 210, width: 280, crop: :fit, class: "img-fluid rounded"%>
        <% else %>
          <%= image_tag "banner.jpg", class: "w-100" %>
        <% end %>
      </div>

        <div class="card-body">
          <h5 class="card-title"><%= lesson.skill_name %></h5>
          <% if lesson.user.status == "Jedi" %>
            <p class="status">Taught by: <%= lesson.user.name %>, <%= lesson.user.side == "Light"? "Jedi" : "Sith" %> Master</p>

          <% end %>
          <p class="card-text">From <%= lesson.start_at %> (<%= lesson.start_at.strftime("%A") %>) to <%= lesson.end_at %> (<%= lesson.end_at.strftime("%A") %>) </p>

          <%= link_to "Learn more", lesson_path(lesson), class:"btn btn-success"  %>

        </div>
      </div>
    <% end  %>
    </div>
  <% else %>
      <h1>The force is with you <%= current_user.name %>.</h1>
      <h2>All your <%= @jedi_lessons.count %> lessons</h2>
      <% if policy(Lesson).create? %>
        <%= link_to "Create new lesson",  new_lesson_path, class: "btn btn-primary" %>
      <%  end %>
    <div class="row justify-content-around">
    <% @jedi_lessons.each do |lesson| %>
        <div class="card col-4 mt-4" style="width: 19rem;">
        <div class="mt-3">
        <% if lesson.skill_picture.attached? %>
          <%= cl_image_tag lesson.skill_picture.key, height: 100, width: 150, crop: :fill %>
        <% else %>
          <%= image_tag "banner.jpg", class: "w-100" %>
        <% end %>
        </div>
          <div class="card-body">
            <h5 class="card-title"><%= lesson.skill_name %></h5>
            <% if lesson.user.status == "Jedi" %>
              <p>Master: <%= lesson.user.name %>, <%= lesson.user.side %> side</p>
            <% end %>
            <p class="card-text">From <%= lesson.start_at %> (<%= lesson.start_at.strftime("%A") %>) to <%= lesson.end_at %> (<%= lesson.end_at.strftime("%A") %>) </p>
            <div class="justify-content-around">
              <%= link_to "Bookings", lesson_path(lesson), class:"btn btn-primary"  %>
              <%= link_to "Edit", edit_lesson_path(lesson), class:"btn btn-success"  %>
              <%= link_to "Delete", lesson_path(lesson), method: :delete, class:"btn btn-danger"  %>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  <% end %>
</div>

<script type="text/javascript" src="/javascripts/lib/index_cards_colors.js" charset="utf-8"></script>
