
<div class ="container">
  <h1><%= @lesson.skill_name %></h1>
    <% if @lesson.user.status == "Jedi" %>
    <h3 class=mt-3>Taught by: <%= @lesson.user.name %>, <%= @lesson.user.side %> side</h3>
    <% end %>
    <p>
      <%= @lesson.description %>
    </p>
    <div class="flex">
      <p>Price: <%= @lesson.price %> Imperial Credits</p>
      <p>Starting time: <%= @lesson.start_at %></p>
      <p>Ending time: <%= @lesson.end_at %></p>
      <%= link_to "Return", lessons_path, class: "btn-general"  %>
      <% if policy(Booking).create? %>
        <a class="btn-booking btn-general">Book now</a>
        <%= link_to "Book now!", lesson_bookings_path(lesson_id: @lesson.id), method: "post", class: "hidden actual-link" %>

      <%  end %>
      <%= audio_tag "saber-light.mp3", class:"sound" %>

      <%# <audio src="../../assets/autio/Star-wars-lightsaber-sound-effects.mp3"></audio> %>
  </div>
</div>


<%# # details for lesson
# description, start time, teacher, avalible, time, price, skill name
# booking option and return option   %>
