<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "btn-general", style:"border: none; box-shadow: none;"  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Lessons", lessons_path, class: "btn-general", style:"border: none; box-shadow: none;"  %>
        <%= link_to "Profile", pages_user_profile_path, class: "btn-general", style:"border: none; box-shadow: none;"%>
        <%= link_to "Log out", destroy_user_session_path, class: "btn-general", style:"border: none; box-shadow: none;", method: "delete" %>
      </div>
    </div>
        <%= form_tag lessons_path, class: "form-inline d-flex", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-sm-2",
            placeholder: "Lesson, master or side"
          %>
          <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
  </div>
</nav>
